@{
    ViewBag.Title = "About";
}
@{ 
    ViewBag.Message = "Mein name ist Paul Legelbach. Ich bin ein Einstiegs-Programmierer";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Created by Gott</p>
